[submodule "content"]
	path = crypto
	url = https://github.com/boazbk/crypto.git
	branch = master
[submodule "deploy"]
	path = deploy
	url = https://github.com/boazbk/cryptodeploy.git
	branch = master
